.top-logo{
    display: block;
    top: 20px;
    max-height:55px;
}
.top-logo img{
    width: 100%;
    height: 100%;
}

#banner{
    opacity: 0.85;
    padding: 10em;
    padding-bottom: 4em;
}

#banner h2{
    margin: 0 10%;
    text-align: center;
    margin-bottom: 20px;
    color: #A1CE54;
}
.actions li a{
    background: #236532;
}

.actions li a:hover{
    background: #A1CE54;
}

@media only screen and (max-width: 670px) {
    #banner{
        margin: 0;
        padding: 20% 10%;
    }
    #banner h2{
        font-size: 3em;
        margin: 0;
        margin-bottom: 20px;
        /* border: solid red 5px; */
    }
    
  }
@media only screen and (max-width: 450px) {
    #banner{
        margin: 0;
        padding: 30% 10%;
    }
    #banner h2{
        font-size: 2em;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
        /* border: solid red 5px; */
    }
    #banner p{
        font-size: 1.2em;
    }
    
  }
